body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 100px;
    height: 100px;
    width: 100px;
}
.div {
    height: 20px;
    width: 20px;
    background-color: black;
    border: 1px solid purple;
}
