body{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content:center;
    align-items: center;
    align-content:center;
    flex-wrap: wrap;
    margin: 100px;
    height: 960px;
    width: 960px;
    border: 5px slateblue solid;
    border-radius: 10px;
}
.square {
    aspect-ratio: 1/1;
    min-height: 9.6px;
    max-height: 241px;
    max-width: 241px;
    /*background-color: white;*/
    /*border: 1px solid grey; */
}
.hover{
    background-color: black;
}
